<div class="title">

    <%= flash[:notice] %>
<p>Title:</p>
      <p class="blog-box-heading">
        <%= @book.title %>      </p>
        </div>
      <div class="body">
      <p>Body:</p>
        <p class="category">
          <%= @book.body %>        </p>
          </div>

<%= link_to "edit",edit_book_path(@book.id) %>
<%= link_to "back",books_path %>